/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.5;
}

.title h5 {
    font-size: 18px;
    color: #fc831e;
}

.title h3 {
    color: #060606;
    font-weight: bold;
    font-size: 40px;
}
a{
    text-decoration: none;
}
.btn-style{
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: bold;
    background-color: #fc831e;
    border: none;
    color: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
/* DARK THEME */

/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: transparent;
    border: 1px solid transparent;
    height: 38px;
    width: 45px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: transparent;
    border: 1px solid transparent;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.fa-sun,
.fa-moon {
    background-color: transparent;
    border: none;
    color: white;
}







/* HEADER */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: black;
}

.dropdown-menu .dropdown-item.active {
    color: #fc831e;
    background-color: transparent;
}

.dropdown-menu a {
    text-transform: uppercase;
}

.nav-item .dropdown-toggle::after {
    border: none;
}

.navbar-brand{
    color: #fc831e;
}

.navbar-brand span {
    font-size: 32px;
    /* color: #fc831e; */
}

.navbar-brand .fa-leaf {
    position: absolute;
    top: 13px;
    left: 61px;
    font-size: 20px;
    
    /* color: #fc831e; */
}


/* FARMCAROUSEL */
.farmcarousel__left__content .farm__text {
    color: #f4f4f4;
}
/* BLOCK   */
.block .block__unit{
    margin-top: 30px;
}
.block .block__content{
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 32px 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
}
.block .block__content:hover{
    border:1px solid #eee;
    transition: 0.3s ease-in;
    box-shadow: -1px 2px 12px -9px rgb(0 0 0 / 41%);
    background: #fff;
}
.block .block__content h4{
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
}
.block .block__content:hover h4{
    transition: 0.3s ease-in;
    color: #009f4d;
}
.block .block__content p{
    margin-top: 10px;
    color: gray;
}