/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Volkhov', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    clear: both;
    font-family: 'Volkhov', serif;
}


.title h5 {
    font-size: 22px;
    color: #fc831e;
}

.title h3 {
    color: #060606;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

a {
    text-decoration: none;
    color: #060606;

}

p {
    color: #707070;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

.btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: bold;
    background-color: #fc831e;
    border: none;
    color: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    font-family: 'Source Sans 3', sans-serif;
}

.btn-style:hover {
    background-color: #009f4d;
    text-decoration: none;
    color: white;
}

.btn-style:focus {
    background-color: #956fef;
    border-color: #956fef;
    box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}

/* DARK THEME */

/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: transparent;
    border: 1px solid transparent;
    height: 38px;
    width: 45px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: rgb(34, 34, 34);
}

.dark #switchButton {
    background-color: transparent;
    border: 1px solid transparent;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark .navbar-brand:hover {
    color: white;
}


/* .dark .main-header {
    padding: 0px;
    border-bottom: none;
    z-index: 99 !important;
    background-color: #222222;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 70px;
} */

.dark h3,
.dark h4,
.dark .grid__icon h4 a,
.dark .card-title,
.dark footer .footer__main h3 {
    color: white;
}

.dark .farmcarousel__left h2 {
    color: black;
}

.dark .block .block__content:hover {
    border: 1px solid rgb(255 255 255 / 20%);
    transition: 0.3s ease-in;
    background: #222222;
}

.dark .services__detail {
    background: #222222;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
    border: 1px solid rgb(255 255 255 / 20%);
    border-top: none;
}

.dark .grid__icon {
    padding: 40px 30px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(23, 19, 19);
    background-color: #222222;
    transition: all .3s;
}

.dark .grid__icon:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.dark .dropdown-menu.show {
    background-color: #222222;
}

.dark .dropdown-menu.show a {
    color: #fff;
    font-family: 'Source Sans 3', sans-serif;
}

.dark .dropdown-menu .dropdown-item.active {
    color: #fc831e;
    background-color: transparent;
}

.dark .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #fb811e;
}

.fa-sun,
.fa-moon {
    background-color: transparent;
    border: none;
    font-size: 24px;
    transition: all .2s;
}

.fa-sun:hover,
.fa-moon:hover {
    color: #fb811e;
}



/* HEADER */
.main-header {
    background-color: rgba(128, 128, 128, 0.196);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.dropdown-menu .dropdown-item.active {
    color: #fc831e;
    background-color: transparent;
}

.dropdown-menu .dropdown-item {
    display: block;
    padding: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
    color: #060606;
    width: 232px;
    height: 38px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #fb811e;
}

.dropdown-menu a {
    text-transform: uppercase;
}

.nav-item .dropdown-toggle::after {
    border: none;
}

.dropdown .dropdown-menu.show {
    border: none;
    transform: translateX(-195px);
}


.navbar-brand {
    color: #fc831e;
    font-size: 32px;
    padding: 0;
    position: relative;
    transition: all .5s;
}

.navbar-brand .fa-leaf {
    position: absolute;
    top: -7px;
    left: 56px;
    font-size: 20px;
}

.navbar-brand:hover {
    color: #060606;
}

.search-right input[type=search] {
    background: #fff url(../img/search.png) no-repeat 10px center;
    border: 1px solid #eee;
    padding: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 10em;
    cursor: pointer;
    transition: all .5s;
}

#demo-2 input[type=search]:focus {
    width: 200px;
    padding-left: 32px;
    padding-right: 15px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

.navbar {
    padding: 0;
    justify-content: space-between;
}


.fa-bars {
    color: #fff;
}

.navbar h1 {
    font-size: 2em;
}


.navbar .search-right {
    margin: 0 10px;
}

ul.nav-item {
    margin: 0;
    font-size: 22px;
}

@media (min-width: 1280px) {
    body .container {
        max-width: 1200px;
    }
}


@media (min-width: 992px) {
    .container {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }
}



@media only screen and (max-width: 991px) {
    header.main-header {
        height: auto;
        padding: 17px 0;
    }
}



/* FARMCAROUSEL */
.farmcarousel__right .carousel-item {
    height: 100vh;
}

.farmcarousel__left {
    position: absolute;
    left: 10em;
    z-index: 1;
}

.farmcarousel__left h2 {
    color: #f4f4f4;
    font-size: 120px;
    font-weight: bold;
    margin-left: -0.48em;
}

.farmcarousel h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

.carousel-control-next .carousel-control-next-icon,
.carousel-control-prev .carousel-control-prev-icon {
    background-image: none;
}

.farm__content p {
    font-size: 20px;
}

.farmcarousel__left__content {
    position: relative;
}

.farm__text {
    position: absolute;
    top: -75px;
    /* left: 3px; */
    z-index: -1;
}

.farmcarousel .carousel-inner {
    border-radius: 0 0 0 30px;
}

.carousel-item span {
    color: #fff;
}

.carousel-item p {
    color: #fff;
}

.carousel-item .carousel-caption {
    right: -75%;
}

.farmcarousel__right .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #fff;
    opacity: 1;
}

.farmcarousel__right .carousel-indicators li.active {
    background-color: #fb811e;
}

@media (max-width: 1440px) {
    .farmcarousel h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 1150px) {
    .farmcarousel h3 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 1150px) {
    .farmcarousel h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media (max-width: 1150px) {
    .farmcarousel h3 {
        font-size: 25px;
        line-height: 35px;
    }
}



@media (max-width: 1150px) {
    .farmcarousel__left {
        left: 5em;
    }
}

@media (max-width: 991px) {
    .farmcarousel__left {
        left: 2em;
    }
}

@media (max-width: 768px) {
    .farmcarousel__left {
        left: 0em;
        padding: 2em;
    }
}

@media (max-width: 480px) {
    .farmcarousel__left {
        padding: 1em;
    }
}

@media (max-width: 768px) {
    .farmcarousel__left__content {
        background-color: #fff;
        padding: 3em 2em 2em 4em;
        border-radius: 8px;
    }
}

@media (max-width: 480px) {
    .farmcarousel__left__content {
        padding: 2.5em 2em 2em 2.5em;
    }
}

@media (max-width: 1440px) {
    h2.farm__text {
        font-size: 100px;
    }
}

@media (max-width: 1150px) {
    h2.farm__text {
        font-size: 90px;
    }
}

@media (max-width: 991px) {
    h2.farm__text {
        font-size: 80px;
    }
}

@media (max-width: 568px) {
    h2.farm__text {
        font-size: 70px;
    }
}

@media (max-width: 480px) {
    h2.farm__text {
        font-size: 60px;
    }
}

@media (max-width: 1150px) {
    .farm__content p {
        font-size: 17px;
    }
}

@media (max-width: 568px) {
    .farm__content p {
        font-size: 16px;
    }
}



/* GROW */
.grid__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.grid__icon {
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: white;
    border-radius: 30px;
    transition: all .3s;
}

.grid__icon:hover {
    box-shadow: 0 25px 98px rgb(0 0 0 / 10%);
}


.grid__icon img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.grid__icon h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #060606;
    transition: all .3s;
}

.grid__icon h4 a:hover {
    color: #009f4d;
    text-decoration: none;
}

.text-para {
    font-size: 17px;
    line-height: 27px;
}

.title-style {
    margin-bottom: 16px;
}



/* SERVICES */
.services {
    background: #009f4d;
}

.services__up {
    position: relative;
}

.services__up .row {
    align-items: center;
}

.services .services__up .row .col-md-6 h5,
.services .services__up .row .col-md-6 h3,
.services .services__up .row .col-md-6 p {
    color: white;
}

.services__up h5 {
    font-size: 22px;
}

.services__up p:first-of-type {
    font-size: 20px;
    font-weight: 300;
}

.services__up .title__bg__content {
    transform: translate(50%, 50%);

    position: absolute;
    right: 50%;
    bottom: 50%;

    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
}

.services__down .card img {
    border-radius: 20px 20px 0 0;
}

.card {
    border-radius: 20px;
    border: none;
    font-family: 'Source Sans 3', sans-serif;
}

.services__detail {
    padding: 30px 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.services span.label-style {
    color: #009f4d;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 15px;
    font-size: 16px;
}

.card-title {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .5s;
    cursor: pointer;
}

.card-title:hover {
    text-decoration: none;
    color: #009f4d;
}

@media (max-width: 991px) {
    .services__up h5 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .services__up h5 {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .services__up h3 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 768px) {
    .services__up h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media (max-width: 568px) {
    .services__up h3 {
        font-size: 30px;
        line-height: 40px;
    }
}


/* QUALITY */
.mt-3 {
    margin: 10px 0 0;
    font-size: 17px;
}

.grid__info i.fa-solid {
    font-size: 30px;
    color: #fc831e;
}

.grid__info h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.radius-image {
    border-radius: 30px;
}

.imginfo__box {
    background-color: #fc831e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.imginfo__box .imginfo__title {
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.imginfo__box p {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}

.align-self {
    align-self: center;
}

@media (max-width: 991px) {
    .quality .small-title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .quality .small-title {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .quality .small-title-1 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media (max-width: 768px) {
    .quality .small-title-1 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media (max-width: 568px) {
    .quality .small-title-1 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 738px) {
    .imginfo__box {
        left: -50px;
    }
}



/* BLOCK   */
.block .block__unit {
    margin-top: 30px;
}

.block .block__content {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 32px 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
}

.block .block__content:hover {
    border: 1px solid #eee;
    transition: 0.3s ease-in;
    box-shadow: -1px 2px 12px -9px rgb(0 0 0 / 41%);
    background: #fff;
}

.block .block__content h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
}

.block .block__content:hover h4 {
    transition: 0.3s ease-in;
    color: #009f4d;
}

.block .block__content p {
    margin-top: 10px;
    color: gray;
}

/* GALLERY  */
.gallery {
    padding: 100px 0;
}

.gallery__item {
    padding: 0;
}

.gallery__effect {
    position: relative;
}

.gallery__item img {
    width: 100%;
}

.gallery .gallery__effect p {
    color: gray;
    margin-top: 8px;
    font-size: 17px;
}

.btn-primary:hover,
.btn-style:hover {
    background: #009f4d;
}

.gallery__item figure {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.gallery__item figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
    transition: 0.95s;
    /* opacity: 0; */
}

.gallery__item figure:hover::before {
    /* animation:  duration timing-function delay iteration-count direction fill-mode; */
    animation: Slide 1s;
}

@keyframes Slide {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

.fancybox__infobar span {
    font-size: 16px;
    color: #fff;
}


.gallery .gallery__item .small__title {
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}

@media screen and (max-width: 1200px) {
    .block .block__unitt {
        padding: 1.5rem 0.5rem;
    }
}

/* responsive  */
@media screen and (max-width:991px) {
    .gallery__effect h5 {
        font-size: 20px;
    }

    .gallery__effect h3 {
        font-size: 35px;
        line-height: 45px;
    }
}

@media screen and (max-width:768px) {
    .gallery__effect h5 {
        font-size: 18px;
    }

    .gallery__effect h3 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width: 450px) {
    .gallery__item:nth-child(1) {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }
}

/* FEEDBACK  */
.feedback {
    background: url(../img/bg1.jpg);
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    z-index: 1;
}

.feedback::before {
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.testimonial-content {
    max-width: 900px;
    margin: auto;
}

.testi-des {
    text-align: center;
}

a.testi-img {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}

.testi-des img {
    width: 100%;
}

.peopl {
    margin: 0;
}

.peopl h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #fff;
}

.peopl p {
    color: #fff;
    font-size: 16px;
}

span {
    font-size: 20px;
    color: #fb811e;
    font-weight: 600;
    display: inline-block;
}

blockquote q {
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
    font-family: 'Source Sans 3', sans-serif;
}

q::before {
    content: open-quote;
}

.owl-dots {
    text-align: center;
    margin-top: 50px;
}

button.owl-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 7px;
    background: #aaa;
    display: block;
    transition: opacity .2s ease;
    position: relative;
    opacity: 0.9;
}

button.owl-dot.active span {
    background-color: #fb811e;
}

button.owl-dot:hover span {
    background-color: #fb811e;
}

span i.fa-quote-left {
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 600;
    display: inline-block;
}

/* FOOTER  */

.footer__logo a {
    font-size: 32px;
    color: #fb811e;
    text-decoration: none;
    transition: 0.5s;
}

.footer__logo a:hover {
    color: #060606;
}

.footer__logo .fa-leaf {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}

.CopyRights a {
    color: #009f4d;
    text-decoration: none;
    transition: 0.5s;
}

.CopyRights a:hover {
    color: #fb811e;
}

.footer__content h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}

.column-2 p {
    line-height: 24px;
}

.column-2 a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.column-2 a:hover {
    color: #fb811e;
}

.FooterSubscribe button {
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: 0.5s;
}

.fa {
    color: white;
    font-size: 16px;
}

.FooterSubscribe input {
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}

.FooterSubscribe button:hover {
    opacity: 0.8;
}

.FooterSocial li {
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}

.FooterSocial a {
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

footer .footer__main .FooterSocial a:hover {
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.FooterSocial span {
    font-size: 15px;
    line-height: 35px;
}

.backtotop {
    position: fixed;
    bottom: 90px;
    right: 15px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #009f4d;
    border-radius: 4px;
    opacity: 0;
    z-index: 100;
}

.back-to-top:hover {
    opacity: 0.8;
    color: #eee;
}

.cd-top--is-visible {
    opacity: 1;
}

footer .footer__main h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}

footer .footer__main p {
    font-size: 17px;
}

footer .footer__main ul.social li a {
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);

    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

footer .footer__main ul.social li a span {
    font-size: 15px;
}

.FooterSubscribe input {
    font-family: 'Source Sans 3', sans-serif;
}

/* SIDEBAR */
.pull-right-demo-bar {
    float: right;
    position: fixed;
    right: 0px;
    top: 150px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}

.toggle-right-sidebar span {
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    opacity: .5;
}

#right-sidebar {
    width: 90px;
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 140px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}

.tooltipstered a i.fa-solid {
    color: #e6ebff;
}

#DemoBar.demo-bar {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px 10px;
    padding-top: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#DemoBar.demo-bar .demo-btns {
    border-top: 1px solid #41414d;
    padding-top: 30px;

}

#DemoBar.demo-bar a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;

}

span.icon-back i.fa-solid,
span.icon-download i.fa-solid,
span.icon-buy i.fa-solid {
    position: static;
    color: #e6ebff;
    display: inline-block;
}

.icon-back-text,
.icon-download-text,
.icon-buy-text {
    color: #e6ebff;
    font-size: 17px;
    font-family: 'Source Sans 3', sans-serif;
    display: block;
}