/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 1.5;
}

.title h5 {
    font-size: 22px;
    color: #fc831e;
}

.title h3 {
    color: #060606;
    font-weight: bold;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #060606;

}

p {
    color: #707070;
    margin: 0;
    padding: 0;
}

.btn-style {
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: bold;
    background-color: #fc831e;
    border: none;
    color: white;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.btn-style:hover {
    background-color: #009f4d;
    text-decoration: none;
    color: white;
}

.btn-style:focus {
    background-color: #956fef;
    border-color: #956fef;
    box-shadow: 0 0 0 0.2rem rgb(102 16 242 / 35%);
}

/* DARK THEME */

/* Light theme */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: transparent;
    border: 1px solid transparent;
    height: 38px;
    width: 45px;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark#myBody {
    background-color: black;
}

.dark #switchButton {
    background-color: transparent;
    border: 1px solid transparent;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.fa-sun,
.fa-moon {
    background-color: transparent;
    border: none;
    color: white;
}

/* HEADER */
header {
    /* position: fixed; */
    width: 100%;
    z-index: 100;
    background-color: black;
}

.dropdown-menu .dropdown-item.active {
    color: #fc831e;
    background-color: transparent;
}

.dropdown-menu a {
    text-transform: uppercase;
}

.nav-item .dropdown-toggle::after {
    border: none;
}

.navbar-brand {
    color: #fc831e;
}

.navbar-brand span {
    font-size: 32px;
    /* color: #fc831e; */
}

.navbar-brand .fa-leaf {
    position: absolute;
    top: 13px;
    left: 61px;
    font-size: 20px;

    /* color: #fc831e; */
}


/* FARMCAROUSEL */

/* .farmcarousel__left{
    position: absolute;
    left: 10em;
    z-index: 1;
} */

.farmcarousel__left h2 {
    color: grey;
    font-size: 120px;
    font-weight: bold;
    margin-left: -0.5em;
}

.farmcarousel h3 {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}

.farm__content p {
    font-size: 20px;
}

/* GROW */
.grid__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.grid__icon {
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
    background-color: white;
    border-radius: 30px;
    transition: all .3s;
}

.grid__icon:hover {
    box-shadow: 0 25px 98px rgb(0 0 0 / 10%);
}


.grid__icon img {
    max-width: 65px;
    display: block;
    margin: 0 auto;
}

.grid__icon h4 a {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #060606;
}

/* SERVICES */
.services {
    background: #009f4d;
}

.services__up {
    position: relative;
}

.services__up .row{
    align-items: center;
} 

.services .services__up .row .col-md-6 h5,
.services .services__up .row .col-md-6 h3, .services .services__up .row .col-md-6 p {
    color: white;
}

.services__up p:first-of-type{
    font-size: 20px;
    font-weight: 300;
}

.services__up .title__bg__content {
    transform: translate(50%, 50%);

    position: absolute;
    right: 50%;
    bottom: 50%;

    color: #fff;
    font-weight: bold;
    z-index: 0;
    opacity: .14;
    font-size: 12vw;
}

.services__down .card img{
    border-radius: 20px 20px 0 0;
}

.card{
    border-radius: 20px;
    border: none;
}

.services__detail{
    padding: 30px 20px;
    box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.services span.label-style{
    color: #009f4d;
    background: rgb(0 159 77 / 16%);
    padding: 5px 20px;
    font-weight: 600;
    border-radius: 15px;
}

.card-title{
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 15px 0;
    transition: all .5s;
}

.card-title:hover{
    text-decoration: none;
    color: #009f4d;
}

/* QUALITY */
.mt-3{
    margin: 10px 0 0;
    font-size: 17px;
}

.grid__info i.fa-solid{
    font-size: 30px;
    color: #fc831e;
}

.grid__info h4{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.radius-image{
    border-radius: 30px;
}

.imginfo__box{
    background-color: #fc831e;
    color: #fff;
    position: absolute;
    left: -85px;
    bottom: 38px;
    padding: 40px;
    box-shadow: 30px 30px 30px rgb(0 0 0 / 20%);
    min-width: 300px;
    border-radius: 0 0 100px 0;
    text-align: center;
}

.imginfo__box .imginfo__title{
    font-size: 70px;
    line-height: 80px;
    color: #fff;
    font-weight: 600;
}

.imginfo__box p{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2px;
}







/* BLOCK   */
.block .block__unit {
    margin-top: 30px;
}

.block .block__content {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 32px 16px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in;
}

.block .block__content:hover {
    border: 1px solid #eee;
    transition: 0.3s ease-in;
    box-shadow: -1px 2px 12px -9px rgb(0 0 0 / 41%);
    background: #fff;
}

.block .block__content h4 {
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
}

.block .block__content:hover h4 {
    transition: 0.3s ease-in;
    color: #009f4d;
}

.block .block__content p {
    margin-top: 10px;
    color: gray;
}
/* GALLERY  */
.gallery{
    padding: 100px 0;
}
.gallery__item{
    padding: 0;
}
.gallery__effect{
    position: relative;
}
.gallery__item img{
    width: 100%;
}
.gallery .gallery__effect p{
    color: gray;
}
.btn-primary:hover, .btn-style:hover{
    background: #009f4d;
}
.gallery__item figure{
    position: relative;
    overflow: hidden;
    margin: 0;
}
/* .gallery__item figure::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
    transition: 0.95s;
} */

.gallery__item figure::before {
    content: '';
    z-index: 2;
    background-color: linear-gradient(to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-17deg);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 100%;
    transform: translate3d(-525%, 0, 0);
  }

.gallery__item figure:hover::before{
    /* left: 125%; */
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}

.gallery .gallery__item .small__title{   
    position: absolute;
    z-index: 0;
    color: #fff;
    bottom: 0;
    font-weight: bold;
    background: rgb(255 255 255 / 27%);
    padding: 6px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px;
}
/* responsive  */
@media screen and (max-width:992px){
    .gallery__effect h5{
        font-size: 20px;
    }
    .gallery__effect h3{
        font-size: 35px;
        line-height: 45px;
    }
}   
@media screen and (max-width:768px){
    .gallery__effect h5{
        font-size: 18px;
    }
    .gallery__effect h3{
        font-size: 32px;
        line-height: 42px;
    }
}
@media screen and (max-width: 450px){
    .gallery__item:nth-child(1){
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 16px;
    }
}    
/* FEEDBACK  */
.feedback{
    background: url(../img/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.feedback::before{
    content: "";
    background: rgb(10 10 10 / 52%);
    position: absolute;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.testimonial-content{
    max-width: 900px;
    margin: auto;
}
.testi-des{
    text-align: center;
}
a.testi-img{
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
}
.testi-des img{
    width: 100%;
}
.peopl {
    margin: 0;
}
.peopl h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 10px 0 5px;
    color: #fff;
}
.peopl p{
    color: #fff;
    font-size: 16px;
}
span{
    font-size: 20px;
    color: #fb811e;
    font-weight: 600;
    display: inline-block;
}
blockquote q {
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-indent: 30px;
    display: block;
}
q::before {
    content: open-quote;
}
/* FOOTER  */

.footer__logo a{
    font-size: 32px;
    color: #fb811e;
    text-decoration: none;
    transition: 0.5s;
}
.footer__logo a:hover{
    color: #060606;
}
.footer__logo .fa-leaf{
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
}
.CopyRights a{
    color: #009f4d;
    text-decoration: none;
    transition: 0.5s;
}
.CopyRights a:hover{
    color: #fb811e;
}
.footer__content h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #060606;
}
.column-2 p{
    line-height: 24px;
}
.column-2 a{
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}
.column-2 a:hover{
    color: #fb811e;
}
.FooterSubscribe button{
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    transition: 0.5s;
}
.fa{
    color: white;
    font-size: 16px;
}
.FooterSubscribe input{
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    color: #707070;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
}
.FooterSubscribe button:hover {
    opacity: 0.8;
}
.FooterSocial li{
    list-style: none;
    margin-right: 5px;
    display: inline-block;
}
.FooterSocial a{
    color: #009f4d;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}
.FooterSocial a:hover{
    color: #fb811e;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}
.FooterSocial span{
    font-size: 15px;
    line-height: 35px;
}
.back-to-top{
    position: fixed;
    bottom: 90px;
    right: 15px;
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #009f4d;
    border-radius: 4px;
    opacity: 0;
}
.back-to-top:hover{
    opacity: 0.8;
    color: #eee;
}
.cd-top--is-visible { 
    opacity: 1;
}
